name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Japanese font
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: fonts-noto
          version: 1.0
      - name: Install dependencies
        run: npm install
      - run: npm run build --if-present
      - name: Test using Vitest
        run: npm run test:unit
